h1{
    text-align: center;
    font-size: 40px;

}

.navbar ul{
   
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:rgb(164, 144, 144);
    height: 150px;
    padding: fixed;
    width: 100%;
    right: 0;
    left: 0;
    


}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
     display: flex;
margin-top: 45px;
 font-size: 25px;
 
    
}
.navbar li{
 display: inline-block;
    margin-left: 25px;
    margin-right: 25px;

 
}
.navbar a:hover{
    background-color: brown;
}

body{
    background-image: url('https://img.freepik.com/premium-photo/white-book-cup-coffee-gypsophila-beige-table-flat-lay-with-blank-copy-space_721474-2268.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution:from-image;
    margin: 0;
}

li{
    font-size: larger;
    display: flex;
    justify-content: center;
    
}

.tekst1{
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 50px;
}

.learn_more{
 margin-left: 50px;
 position: relative;
 top: -100px;
 height: 50px;
 width: 150px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: large;
 background-color:#b99f96;
 border-radius: 20px;
 
   
}

.learn_more:hover{
background-color: rgb(167, 140, 140);

}

.products_button{
margin-left: 20px;
 position: relative;
 top: -100px;
 height: 50px;
 width: 150px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: large;
 background-color:#b99f96;
 border-radius: 20px;
}

.products_button:hover{
background-color: rgb(167, 140, 140);

}


